version: "3.8"

services:
  db:
    image: postgres:15
    container_name: postgres_container
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: db_tuyen_dung
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root_password
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
